$montserrat: "Montserrat", sans-serif;
$lato: "Lato", sans-serif;
$soleil: "soleil", sans-serif;
$futura: "futura-pt", sans-serif;
$helvetica-black: "Helvetica-Neue Condensed Black";
$text: #3C3C3B;
$lightGrey: #EFEFEF;
$grey: #D8D8D8;
$seo_grey: #e8e8e8;
$light-grey: #F1F2F2;
$seo_lightGrey: #f9f9f9;
$green: #759652;
$seo_green: #00AA46;
$yellow: #E0B265;
$blue: #628996;
$red: #BD1E2D;
$black: #000;
$white: #fff;
$teal: #628996;
$seo_red: #DA2730;
$seo_blue: #0083FC;

@import 'reset';
@import 'mixins';
@import 'animations';
@import 'layout';
@import 'typography';
@import 'utilities';
@import 'forms';
@import 'slick';

@import 'header';
@import 'nav';
@import 'footer';

@import 'page-home';
@import 'page-about';
@import 'page-contact';
@import 'work';
@import 'page-services';
@import 'page-seo';
@import 'page-career';
@import 'page-tee_shirt';
@import 'page-branding';
@import 'work-new';

@import 'archives';
@import 'blog';
@import 'sidebar';
@import 'single';
@import 'search';